table,th,tr
{
	border:1px  solid black;
	border-right-color:grey;
	border-bottom-color:grey;
	text-align:left;
}
table.Student-D
{
	background-color: yellow;
	border-left-color:grey;
	border-top-color:grey;
	border-bottom-color:black;
	border-right-color:black;
}
tbody,tr,td
{
	border:1px solid black;
	border-right-color:grey;
	border-bottom-color:grey;
}
form {
    border: 1px solid rgb(0, 0, 0);
}

